
/* About Me */



/* Main */

main{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    background-color: #171719;
        
}

.projects-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-self: center;
    gap: 40px;
    justify-content: center;
}

h2{
    color: #171717;
}

.section-project
{
    width: 90%;
    min-width: 480px;
    height: 400px;
    display: grid;    
    grid-template-columns: 5% 95%;
    grid-template-rows:  14% 14% 72%;
    justify-self: center;
    justify-items: center;
    align-items: center;
    background-color: #282623;
    box-shadow: 0 4px 8px 0 black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    border-radius: 10px;
    padding: 10px 20px;      
    text-decoration: none; 
    transition: transform 0.8s ease;
}

.section-project:hover{
    transform: scale(1.1);
    transition: transform 0.8s ease;
}

.logo-project{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.name-project
{
    width: 96%;
    height: 60%;
    align-self: center;
    justify-self: center;
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-align: left; 
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: var(--Primary-White);
    margin-left: 10px;
    align-self: center;
    justify-self: flex-start;
}

.description-project
{
    width: 96%;
    height: 100%;
    align-self: center;
    justify-self: flex-start;
    font-size: 1.4rem;
    color: var(--Primary-White);
    text-align: left; 
    font-weight: 300;
    letter-spacing: 1px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 10px;
}

.project-image
{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    object-fit: cover;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}


@media (max-width: 768px){

    .about-me{
        width: 90%;
        height: 740px;
        border-radius: 14px;
        padding: 20px;
        background-color: #272B33;
        color: var(--Primary-White);    
        justify-self: center;
        font-size: 2.0rem;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .about-me p {
        font-size: 1.6rem;
        width: 90%;
        margin-bottom: 20px;
        font-weight: 300;
    }



    .section-project
    {
        width: 100%;
        min-width: 200px;
        height: 260px;
        grid-template-rows:  14% 26% 60%;
    }

    .name-project
    {
        font-size: 1.8rem;
    }

    .description-project
    {        
        font-size: 1.2rem;
        color: var(--Primary-White);
        text-align: left; 
        font-weight: 300;
        letter-spacing: 1px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 10px;
    }

    .project-image
    {
        border-radius: 6px;
    }
}