.network {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    place-self: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.github {
    background-image: url('../../assets/icons/github.svg');
    width: 46px;
    height: 46px;
  }
  
.instagram {
    background-image: url('../../assets/icons/instagram.svg');
}

.twitter {
    background-image: url('../../assets/icons/twitter.svg');    
    width: 46px;
    height: 46px;
}

.linkedin {
    background-image: url('../../assets/icons/linkedin.svg');
}