.design{
    height: 100%;
    background-repeat: no-repeat;     
    background-size: contain;   
    grid-row: 1 / 2;
}

.design-left{  
    grid-column: 1 / 2; 
    justify-self: left;
}

.design-right{
    grid-column: 3 / 4;
    justify-self: right;
}

@media (max-width: 768px){
    .section-container{        
        width: 90%;
        height: 40px;
        border-radius: 40px;
        margin-top: 80px;
    }
}