.section-container{
    justify-self: center;
    width: 60%;
    border-radius: 40px;
    overflow: hidden;
    height: 68px;
    background-color: #1d2026;
    display: grid;    
    grid-template-rows: 100%;
    margin-bottom: 100px;
    grid-template-columns: 20% 60% 20%; 
    border: 2px solid #d10dd1;
}

.section-container:nth-child(1){
    margin-top: 120px;
    margin-bottom: 0px;
}

.design{
    height: 100%;
    background-repeat: no-repeat;     
    background-size: contain;   
    grid-row: 1 / 2;
}

.h2{
    font-weight: 500;
    place-self: center;
    width: 80%;
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 3px;
    color: white;
    grid-column: 2 / 3;
}

.design-left{   
    background-image: url('../../assets/icons/figure-left.svg');
    background-position: left;   
    grid-column: 1 / 2;  
}

.design-right{
    background-image: url('../../assets/icons/figure-right.svg');
    background-position: right;    
    grid-column: 3 / 4;
}

@media (max-width: 768px){
    .section-container{        
        width: 90%;
        height: 40px;
        border-radius: 40px;
        margin-top: 80px;
    }

    

    .h2{        
        font-size: 1.8rem;
    }
}